//FOOTER
.footer {
  background-color: $color-primary-black-background;
  border-top: $color-primary-gold solid 0.1rem;
  border-bottom: $color-primary-gold solid 0.1rem;
  @include respond(tab-land) {
    display: flex;
    flex-wrap: wrap;
  }
  //footer section
  &-section {
    margin: 0 !important;
    &:first-child {
      padding-top: 12.5rem;
      @include respond(s-desktop) {
        padding-top: 7.5rem;
      }
    }
    padding-bottom: 12.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    
    @include respond(tab-land) {
      width: 50%;
      padding-top: 12.5rem;
    }
    @include respond(s-desktop) {
      width: 25%;
      justify-content: flex-start;
      padding: 5rem 0;
    }

    //footer section header
    &__header {
      h2 {
        color: $color-primary-white;
        letter-spacing: 0.3rem;
        padding: 0;

        @include respond(s-desktop) {
          font-size: 2.1rem;
        }
      }
      .gold-border {
        margin: 1rem auto;
      }
    }
    //footer section content
    &__content {
      .row{
        margin-left: 0;
        margin-right: 0;
      }
      li {
        list-style: circle;
      }
      a {
        color: $color-primary-white;
        line-height: 300%;
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
        @include respond(tab-land) {
          line-height: 200%;
        }
        @include respond(s-desktop) {
          font-size: 1.8rem;
        }
      }
       //footer section fa icons
      .fa {
        margin: 2rem 0;
        font-size: 4.5rem;
        width: 9rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5rem;
      //  border: $color-primary-white solid 0.1rem;
        &:hover{
          -webkit-box-shadow: 0px 2px 2px -1px rgb(235, 230, 230);
          -moz-box-shadow: 0px 2px 2px -1px rgb(235, 230, 230);
          box-shadow: 0px 2px 2px -1px rgb(233, 24, 24);
        }
        @include respond(tab-port) {
          margin: 1.5rem;
        }
        @include respond(s-desktop) {
          font-size: 2rem;
         // width: 6rem;
          width: 9rem;
          height: 5rem;
          margin: 1rem;
        }
      }
    }
  }
}

.order {
  order: 1;
}

.copy-rights {
  background-color: $color-primary-black-background !important;
  text-align: center;
  color: $color-primary-gold;
  padding: 0.5rem 0;
  font-size: 1.4rem;
}


