//BUTTONS
.button-item {
  text-align: center;
  //button settings
  .btn {
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: none;
    border-radius: 0.8rem;
    letter-spacing: 0.2rem;
    transition: 1s;
    padding: 1rem 2rem;
    color: $color-primary-black-background;
    font-size: 2.5rem;
    //border: solid rgba(163, 163, 163, 0.137);
    @include respond(s-desktop) {
      font-size: 3rem;
    }
    font-weight: bold;
    -webkit-box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.75);   
    @include btn-span-keyframes-animation;
    &:hover {
      @include button-hover-effect(#131212ec, $color-primary-gold);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      bottom: 0.2rem;
      width: 50%;
      background: #2ad31a0a;
    }
  }

  .btn-small{
    font-size: 1.7rem;
    padding: .6rem 1rem;
    min-width: 14rem;
    
   @include respond(s-desktop) {
    font-size: 1.5rem;
    }
 }

 .btn-medium{
  font-size: 1.7rem;
  @include respond(s-desktop) {
    font-size: 2rem;
    }

 }

  .btn-big{
     font-size: 2.5rem;
    @include respond(s-desktop) {
       font-size: 3rem;
     }
  }

}



#btn-get-involved{
  .row{
    @include respond(tab-land) {
      box-shadow: none !important;
      padding: 0 !important;
      }
  }
  .get-involved-button{
    justify-content: center !important;
  }
}

