// //FA ICONS


//WHERE WE WORK - PAGE
.fa-contact-links {
  font-size: 6rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  @include respond(tab-port) {
    justify-content: center;
  }
  @include respond(tab-land) {
    justify-content: flex-end;
    font-size: 5rem;
  }
  @include respond(tab-land) {
    font-size: 4rem;
  }
  //links
  a{
    @include respond(tab-port) {
      padding: 1rem;
    }
  }
  //fa icons
  .fa{
    &:hover{
      @include scale-up;
    } 
  }
  .fa-envelope-o {
    color: $color-primary-green;
  }

  .fa-linkedin-square {
    color: $color-primary-blue;
  }
}


//FA footer icons
.footer{
  .fa-facebook {
    background: #3b5998;
    color: $color-primary-white;
    &:hover{
      background-color: darken($color: #3b5998, $amount: 10%);
    }
  }
  .fa-twitter {
    background: #55acee;
    color: $color-primary-white;
    &:hover{
      background-color: darken($color: #55acee, $amount: 10%);
    }
  }
  .fa-linkedin {
    background: #007bb5;
    color: $color-primary-white;
    &:hover{
      background-color: darken($color: #007bb5, $amount: 10%);
    }
  }
  .fa-youtube {
    background: #bb0000;
    color: $color-primary-white;
    &:hover{
      background-color: darken($color: #bb0000, $amount: 10%);
    }
  }
  .fa-instagram {
    background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: $color-primary-white;
    &:hover{
      background-color: darken($color: #e11bf3, $amount: 10%);
    }
  }
  .fa-clubhouse {
    background: #6515dd;
    color: $color-primary-white;
    &:hover{
      background-color: darken($color: #6515dd, $amount: 10%);
    }
  }
}












