//COLLABORATORS
#get-involved-collaborators{
  //collaborators row
 // background-color: red !important;

  .row{
    flex-direction: column-reverse;
    @include respond(tab-land) {
      flex-direction: row-reverse;
       @include section-bottom-shadow;
    }
 
  }
 
  //collaborators section content
  .section-content { 
 
    // display: flex;
    @include respond(tab-land) {
      justify-content: center;
      align-items: center;
      }
      //collaborators section content header
      &__header {}
      //collaborators section content info
      &__info {
        ul{
          list-style: circle !important;
        }
      }
      //collaborators section content image
      &__image { 
        max-width: 20rem;
        img{
          @include image-shadows;
        }
       }
      //collaborators section content nav buttons
      &__nav-buttons {
        display: flex;
        width: 80%;
        justify-content: flex-end;
      }
     
  }

 

}