.project{
    .section-content{
        &__image{
            display: flex;
            flex-direction: column;
            margin: 7rem 0;
            
            img{
                &:not(:first-child){
                    margin-top: 10rem;
                }
                @include image-shadows;
            }
        }
        .button-item{
            margin-top: 5rem;
        }
    }
}